<div class="container mt-5">
  <div class="row justify-content-center">
    <!-- Primeiro Card: Quentinhas -->
    <div class="col-md-4 mb-4">
      <a href="#" class="card-link">
        <div class="card text-center shadow-sm">
          <img src="assets/quentinhas.jpg" class="card-img-top" alt="Quentinhas">
          <div class="overlay">
            <h5 class="card-title">Quentinhas</h5>
          </div>
        </div>
      </a>
    </div>

    <!-- Segundo Card: Galeto -->
    <div class="col-md-4 mb-4">
      <a href="#" class="card-link">
        <div class="card text-center shadow-sm">
          <img src="assets/galeto.png" class="card-img-top" alt="Galeto">
          <div class="overlay">
            <h5 class="card-title">Galeto</h5>
          </div>
        </div>
      </a>
    </div>

    <!-- Terceiro Card: Bebidas -->
    <div class="col-md-4 mb-4">
      <a href="#" class="card-link">
        <div class="card text-center shadow-sm">
          <img src="assets/bebidas.png" class="card-img-top" alt="Bebidas">
          <div class="overlay">
            <h5 class="card-title">Bebidas</h5>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="row justify-content-center">
    <!-- Quarto Card: Sobremesa -->
    <div class="col-md-4 mb-4">
      <a href="#" class="card-link">
        <div class="card text-center shadow-sm">
          <img src="assets/sobremesas.png" class="card-img-top" alt="Sobremesa">
          <div class="overlay">
            <h5 class="card-title">Sobremesa</h5>
          </div>
        </div>
      </a>
    </div>

    <!-- Quinto Card: Batata Frita -->
    <div class="col-md-4 mb-4">
      <a href="#" class="card-link">
        <div class="card text-center shadow-sm">
          <img src="assets/qune.jpg" class="card-img-top" alt="Batata Frita">
          <div class="overlay">
            <h5 class="card-title">Batata Frita</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
